{% extends 'accounts/main.html' %}

{% block content %}

{% include 'accounts/status.html' %}

<br>

		<div class="row">
			<div class="col-md">
				<div class="card card-body">
					<h5>Pedidos</h5>
				</div>
				<div class="card card-body">
					<a class="btn btn-primary  btn-sm btn-block" href="{% url 'create_order' %}
			">Criar Pedido</a>
					<table class="table table-sm table table-striped ">
						<tr>
							<th>Pedido</th>
							<th>Cliente</th>
							<th>Produto</th>
							<th>Date Orderd</th>
							<th>Status</th>
							<th>Preço</th>
							<th>Emissão</th>
							<th>Atualizar</th>
							<th>Deletar</th>
						</tr>
						{% for order in orders %}
							<tr>
								<td>{{order.id}}</td>
								<td>{{order.product}}</td>
								<td>{{order.customer}}</td>
								<td>{{order.date_created}}</td>
								<td>{{order.status}}</td>
								<td>{{order.preco_do_produto}}</td>
								<td>{{order.date_created}}</td>
								<td><a class = "btn btn-sm btn-info" href="{% url 'update_order' order.id %}">Atualizar</a></td>
								<td><a class = "btn btn-sm btn-danger" href="{% url 'delete_order' order.id %}">Deletar</a></td>
							</tr>
						{% endfor %}
						
				
					</table>
				</div>
			</div>
			
		</div>

{% endblock %}