{% extends 'accounts/main.html' %}

{% block content %}

<br>

		<div class="row">
			<div class="col-md">
				<div class="card card-body">
					<h5>Clientes</h5>
				</div>
				<div class="card card-body">
					<a class="btn btn-primary  btn-sm btn-block" href="{% url 'create_customer' %}">Criar Cliente</a>
					<table class="table table-striped " ">
						<tr>
							<th></th>
							<th>Codigo</th>
							<th>Name</th>
							<th>Telefone</th>
							<th>CPF</th>
							<th>Nascimento</th>
							<th>Email</th>
						</tr>
						{% for customer in all_customers_data %}
							<tr>
								<td><a class = "btn btn-sm btn-info" href="{% url 'customer' customer.id %}"
									>Ver</a></td>
								<td>{{customer.id}}</td>
								<td>{{customer.name}}</td>
								<td>{{customer.phone}}</td>
								<td>{{customer.cpf}}</td>
								<td>{{customer.data_de_nascimento}}</td>
								<td>{{customer.email}}</td>
							</tr>
						{% endfor %}
					</table>
				</div>
			</div>
			
		</div>

{% endblock %}